<% if model.errors.any? %>
  <div class="alert-danger">
      <% model.errors.full_messages_for(attribute).each do |message| %>
        <p class="text-danger p-1"><%= message %></p>
      <% end %>
  </div>
<% end %>