<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="row d-flex justify-content-center">
    <div class="col-5 border border-danger rounded p-3 mb-3">
      <h4 class="text-center text-danger">
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </h4>
      <ul style="list-style: none;">
        <% resource.errors.full_messages.each do |message| %>
          <li>この<%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
