<% if users.exists? %>
  <% users.each do |user| %>
    <table>
      <tbody>
        <tr>
          <% if user.is_deleted == false %>
          <td>
            <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <!--フォローボタン-->
            <div id="follow-<%= user.id %>">
              <%= render 'public/relationships/follow', user: user %>
            </div>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>