<div class="container m-5">
  <h1>About</h1>
  <%= image_tag 'about.jpg', width: '50%', height: '50%' %>
  <h2 class="mt-3">みんなで作る美術展・展覧会の情報共有サイト</h2>
  <p>
    GalleryEyeはデザイン・アート好きが集まって美術展・展覧会の情報共有サイトです。<br>
    美術展を訪れた人が美術展の情報や自分のおすすめポイント等を投稿することで<br>
    それらを見た人が興味を持ち、より美術展を楽しむことができます。<br>
    なので当サイトはみなさまの情報共有及び交流によって育っていきます。<br>
    どんどんご活用いただけると幸いです。
  </p>
</div>