<div class="d-flex justify-content-end">
  <div class="search_form" style="border-radius: 0!important;">
    <%= form_with url:admin_search_path, method: :get do |f| %>
      <div class="input-group no-border">
        <%= f.text_field :keyword, placeholder: '投稿やユーザー名を検索' %>
        <%= f.select :model, options_for_select([["Post"], ["User"]]) %>
        <%= button_tag type: "submit", class: "btn btn-info search-btn" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>