<% if @model == 'Post' %>
  <h3><%= @keyword %>に関連するレビュー</h3>
  <%= render 'admin/posts/index', posts: @posts %>
<% elsif @model == 'User' %>
  <h3><%= @keyword %>に関連するユーザー</h3>
  <%= render 'admin/users/index', users: @users %>
<% end %>
