<% if post.errors.any? %>
  <div class="row d-flex justify-content-center">
    <div class="col-5 border border-danger rounded p-3 mb-3">
      <h4 class="text-center text-danger"><%= post.errors.count %>件のエラーが発生しました</h4>
      <ul style="list-style: none;">
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>