#header {
  background-color: #203744;
}

#search-form {
  display: none;
}

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.pagination {
  justify-content: center;
}

.field_with_errors {
  display: contents;
}