#header {
  background-color: #203744;
}

#search-form {
  display: none;
}

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.pagination {
  justify-content: center;
}

// エラーメッセージが出てもレイアウト崩れがないようにするため
.field_with_errors {
  display: contents;
}

#about {
  background-image: url(../images/backimg.jpg);
  height: 500px;
}

// ABOUT画像への透過フィルター
#transparenti {
  background-color: rgba(255, 255, 255, 0.562);
  height: 500px;
}

#login,
#sign_in {
  background-image: url(../images/public_in.png);
  background-position: right bottom;
  background-repeat:repeat-x;
}

// タブの色変更
.nav-pills .nav-link.active{
  background-color: #203744;
}

// タブの文字色変更
.nav-pills .nav-link{
  color: #203744;
}

// // マップフォーカス時のアウトラインの色
// .map area:focus {
//   outline-color: #000080;
// }